.btn {
    cursor: pointer;
    display: flex;
    padding: 0.9375rem 1.5625rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    border: 0;
    font-size: 16px;
}

.btn-blue {
    border-bottom: 4px solid #325cc8;
    color: var(--white);
    background-color: var(--blue);
}

.btn-black {
    color: var(--white);
    border-bottom: 4px solid #676262;
    background-color: var(--black);
}

.button-press-animation {
    animation: button-press 0.5s;
}

@keyframes button-press {
    50% {
        transform: translateY(5px);
        border-color: transparent;
    }
}
