@import url(https://fonts.googleapis.com/css2?family=FontName);

.h1{
    font-size: 61px;
    font-family: "Roboto", Black 900;
}
.h4 {
    font-size: 31px;
    font-family: "Inter";
}
.h6 {
    font-size: 20px;
    font-family: "Inter";
}