.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2em;
    text-align: center;
    z-index: 1;
    overflow: hidden;
    overflow-y: scroll;
    z-index: 100;
}

.sidebar i {
    margin-bottom: 100px;
}

.sidebar ul {
    list-style: none;
    font-size: 18px;
}

.sidebar ul li {
    margin-bottom: 50px;
}

.sidebar ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.sidebar-move-in-animation {
    animation: sidebar-move-in 0.5s ease-in-out forwards;
}

.sidebar-move-out-animation {
    animation: sidebar-move-out 0.5s ease-in-out;
}

@media only screen and (max-width: 1024px) {
    .sidebar-move-in-animation {
        animation: sidebar-move-in-mobile 0.5s ease-in-out forwards;
    }

    .sidebar-move-out-animation {
        animation: sidebar-move-out-mobile 0.5s ease-in-out;
    }
}

@keyframes sidebar-move-in {
    from {
        width: 0;
    }
    to {
        width: 25%;
    }
}
@keyframes sidebar-move-out {
    from {
        width: 25%;
    }
    to {
        width: 0;
    }
}

@keyframes sidebar-move-in-mobile {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes sidebar-move-out-mobile {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}
